.main{
    display: flex;
    flex-direction: row;
    padding:22px ;
    padding: right 12px; ;
    background-color: rgb(140, 140, 233);
    justify-content: space-between;
    animation-name: first;
    animation-duration: 3s;
   }
   .logo{
       color: rgb(255, 255, 255);
       font-weight: bolder;
   }
   .links{
       display: flex;
gap: 22px;
padding-top: 18px;
padding-left: 22px;
color: black;
font-size: 30px;
}
.active a{
color:rgb(223, 74, 74) ;
background-color:rgb(253, 252, 252) ;
padding: 10px;
padding-top: 15px; 
}
a{
   text-decoration: none;
}
a:hover{
   color: purple;
}
